<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="StudentsConexion" connectionString="metadata=res://*/StudentModel.csdl|res://*/StudentModel.ssdl|res://*/StudentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Students;persist security info=True;user id=sa;password=Sql2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="StudentsConexion" connectionString="data source=.;initial catalog=Students;persist security info=True;user id=sa;password=Sql2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <add name="StudentsConexion" connectionString="server=.;Initial Catalog=Students;User id=sa;Password=Sql2020; Connect Timeout=6000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Parametro -->
    <!-- Ruta del archivo CSV -->
    <add key="RutaFile" value="C:\Users\Gelber\Source\Repos\PruebaTruextend\Truextend.StudentManagement.Core\ConsoleApp\Files\input.csv" />
  </appSettings>
</configuration>