<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="StudentsConexion" connectionString="server=.;Initial Catalog=Students;User id=sa;Password=Sql2020; Connect Timeout=6000" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>